<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" 
>
        <div class="container">
                <a class="navbar-brand" href="#">
                                <img src="assets/img/sitelogo.jpg" alt="The Imitation Store" width="140px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation" (click)="toggleCollapsed()">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" [routerLink]="['/home']" style="color:rgba(255, 217, 0, 0.795)">Home
                                                <span class="sr-only">(current)</span>
                                        </a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" [routerLink]="['/about']" style="color:rgba(255, 217, 0, 0.795)">About Us</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" [routerLink]="['/contact']" style="color:rgba(255, 217, 0, 0.795)">Contact Us</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
<div class="container">

        <router-outlet></router-outlet>
</div>

<div class="container">
        <h2> <a href="android-app/The imitation Store.apk">Click Here</a> to download our android app.</h2>
</div>