<br>
<br>
<br>
<div class="text-center">
    <a href="#"><img src="assets/img/card.jpg"></a>
    
  </div>
  
  <div class="container">
    <h4>While we work on accepting the orders online, please call/ whatsapp us with the product code <b>{{this.productId}}</b>  on <b>8197790123</b> to know the delivery details.</h4>
  </div>
  <div class="container">
    <h4>Please naviagte to our <a href="#"> Home </a> to explore more products.</h4>
  </div>
  <div class="container">
    <h4>We provide delivery within 24 Hours in Indore.</h4>
  </div>
  <div class="container">
    <h4><a href="https://api.whatsapp.com/send?phone=918197790123&text=Hi,%20I%20am%20interested%20to%20buy%20{{this.productId}}">Click Here</a> to send us a message on whatsapp</h4>
  </div>