<div class="container">
  <br><br><br>
    <header class="section-header">
      <h3>About Us</h3>
      <p>Welcome to <b>The Imitation Store</b>, your number one source for jewellery products. We are an artificial jewellery manufacturing and retail store based in India. We design antique as well as party wear jewelleries at our store. We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
    </header>

    <div class="row about-cols">

      <div class="col-md-4 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Mission</a></h2>
          <p>
              We believe in the concepts of <b>uniqueness</b> and <b>authenticity</b>. We implement the uniqueness of designs by creating single jewellery of a kind and authenticity by publishing the actual pictures of the jewellery.
          </p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Plan</a></h2>
          <p>
            With a focus on <b>customer services</b>, we plan on to provide <b>cost-effective</b> & <b>genuine</b> products to our valued customers globally.
          </p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Vision</a></h2>
          <p>
            We wish to establish a <b>world-class brand</b> based on our concepts and ethics. 
          </p>
        </div>
      </div>

    </div>

  </div>